/* style.css */
@import url('https://fonts.googleapis.com/css?family=Nunito');
body{
  background: rgb(244, 211, 65);
  color: black;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Nunito;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 50px;
}

h1:hover {
  text-decoration: none;
  color: rgb(69, 69, 69);
}

img.center {
  display: block;
   margin-left: auto;
   margin-right: auto;
}

div {

    position: absolute;
    top:200;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
