/* style.css */

body{
    background: rgb(244, 211, 65);
    color: black;
    font-size: 25px;
    font-family: Helvetica;
}

h1{
    font-family: Nunito;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 50px;
}

h1:hover {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

div {
  text-align: center;
}

a {
  color: white;
}
